/*Global CSS variables*/
:root {
    --header-color: #70dce4;
    --max-title-size: 3em;
    --mid-title-size: 2em;
    --min-title-size: 1.5em;
    --max-sectionHeader-size: 1.5em;
    --mid-sectionHeader-size: 1.2em;
    --min-sectionHeader-size: 1em;
}
/*Defaul style*/
html{
    background-color: #022b41;
    /*background-image:url('../img/BG1.jpg');
    background-size: auto;*/
    border: 5px solid black;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
img, video {
    max-width: 100%;
}
#avatar{
    border-radius: 30%;
    border: 5px solid rgba(190, 81, 8, 0.658);
    background-position: center;
    max-width: 100%;
    margin: 2px;
}

a:visited {
    color: var(--header-color);
}
body {
    /*Google web font*/
    font-family: 'Kanit', 'Montserrat', sans-serif;
    line-height: 1.3em;    
    margin: 20px auto;
    padding: 1em 1em;
}
header {
    color: var(--header-color);
    
}

section {
    border: 10px solid #3f18029f;
    padding: 0.22em 0.88em;
    box-shadow: 8px 8px 2px #13010177;
}
section:hover {
    border:10px solid green;
    background: rgba(0, 0, 0, 0.5);
    
}
.sectionHeader {
    color: var(--header-color);
}



/*Just declare the grid-area*/
#photos {
    grid-area: photos;
}
#clock {
    grid-area: clock;
}
#books {
    grid-area: books;
}
#me {
    grid-area: me;
}
#contact {
    grid-area: contact;
}
/*CSS for footer*/
footer {
    background: rgb(0, 0, 0);
    min-height: 41px;
    margin-top: 1.5em;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    color: white;
    font-size: var(--min-sectionHeader-size);
    text-align: center;
}

/*Responsive design*/
@media screen and (max-width: 359px) {
    main {
        display: grid;
        grid-template-areas: 
            "me"
            "clock"
            "books"
            "photos"
            "contact";
        grid-gap: 1.2em;
        margin-left: 2em;
        margin-right: 2em;
    }
    header {
        margin-bottom: 0.6em;
        font-size: var(--min-title-size);
    }
    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .sectionImg {
        display: none;
    }
    .contactLogo {
        width: 48px;
        height: 48px;
    }
}
@media screen and (min-width: 360px) and (max-width: 619px){
    main {
        display: grid;
        grid-template: auto / 2fr 2fr;
        grid-template-areas:
            "me clock"
            "books photos"
            "contact .";
        grid-gap: 1.2em;
        margin-left: 2em;
        margin-right: 2em;
    }
    header {
        margin-bottom: 0.6em;
        font-size: var(--min-title-size);
    }
    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .contactLogo {
        width: 48px;
        height: 48px;
    }
}
@media screen and (min-width: 620px) and (max-width: 959px){
    main {
        display: grid;
        grid-template: auto / 2fr 2fr 2fr;
        grid-template-areas:
            "me books clock "
            "photos . contact ";
        grid-gap: 1.5em;
        margin-left: 3em;
        margin-right: 3em;
    }
    header {
        margin-bottom: 0.8em;
        font-size: var(--mid-title-size);
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .sectionHeader {
        font-size: var(--mid-sectionHeader-size);
    }
    .contactLogo {
        width: 66px;
        height: 66px;
    }
}
@media screen and (min-width: 960px){
    main {
        display: grid;
        grid-template: auto / 1fr 1fr 20px 1fr;
        grid-template-areas:
            "me books . clock" 
            "photos contact . .  "
            ;
            
        grid-gap: 1.5em;
        margin-left: 3em;
        margin-right: 3em;
    }
    header {
        margin-bottom: 1em;
        font-size: var(--max-title-size);
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .sectionHeader {
        font-size: var(--max-sectionHeader-size);
    }
    .contactLogo {
        width: 88px;
        height: 88px;
    }
}