/*Global CSS variables*/
:root {
    --header-color: #70dce4;
    --max-title-size: 3em;
    --mid-title-size: 1em;
    --min-title-size: 1.5em;
    --max-sectionHeader-size: 1.5em;
    --mid-sectionHeader-size: 1.2em;
    --min-sectionHeader-size: 1em;
}
/*Defaul style*/
html{
    background-color: #022b41;
    border: 10px solid rgba(0, 0, 0, 0.5);
    margin: 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#bgwelcome{
    max-width: 88%;
}
img, video {
    max-width: 70%;
}
#avatar{
    border-radius: 30%;
    border: 5px solid rgba(95, 40, 3, 0.658);
    background-position: center;
    max-width: 100%;
    margin: 2px;
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/
    margin: auto; 
    width: 65%;
    
}
#logorad{
    border-radius: 50%
}

a:visited {
    color: var(--header-color);
}
body {
    /*Google web font*/
    font-family: 'Kanit', 'Montserrat', sans-serif;
    line-height: 1.3em;    
    margin-top: 20px ;
    margin-left: auto;
    margin-right: auto;
    
    padding-top:1em;
    padding-right: 1em;
    padding-left: 1em;
    /*overflow:hidden;  */
   
}
header {
    color: var(--header-color);
    text-align: center;
    
}

section {
    border: 10px solid #3f18029f;
    padding: 0.22em 0.88em;
    box-shadow: 8px 8px 2px #13010177;
}
section:hover {
    border:10px solid green;
    background: rgba(0, 0, 0, 0.5);
    
}
.sectionHeader {
    color: var(--header-color);
}
#welcome {
    text-align: center;
}
.g{
    border: 25px solid rgba(0, 0, 0, 0.39);
    margin-bottom: 40px;
}
/*-------------*/
/*    Button   */
/*-------------*/
#btnEntersite:hover {
    background-color: #034e19}

#btnEntersite:active {
  background-color: #21a326;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#btnEntersite{
    padding: 15px 25px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 100%;
}
#btnBackIndex {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 35px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;    
}
/*clock*/
.canvas{
    
    background-color:#022b41;
   
}





/*Just declare the grid-area*/
#photos {
    grid-area: photos;
}
#clock {
    grid-area: clock;
}
#books {
    grid-area: books;
}
#me {
    grid-area: me;
}
#contact {
    grid-area: contact;
}
/*CSS for footer*/
footer {
    background: rgba(0, 0, 0, 0.425);
    min-height: 60px;
    margin-top: 1.5em;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    color: white;
    font-size: var(--min-sectionHeader-size);
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
p{
    text-align: center;
    padding-left: 150px;
}


/*Responsive design*/
@media screen and (max-width: 359px) {
    main {
        display: grid;
        grid-template-areas: 
            "me"
            "clock"
            "books"
            "photos"
            "contact";
        grid-gap: 1.2em;
        margin-left: 2em;
        margin-right: 2em;
    }
    header {
        margin-bottom: 0.6em;
        font-size: var(--min-title-size);
    }
    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .sectionImg {
        display: none;
    }
    .contactLogo {
        width: 48px;
        height: 48px;
    }
    


}
@media screen and (min-width: 360px) and (max-width: 619px){
    main {
        display: grid;
        grid-template: auto / 2fr 2fr;
        grid-template-areas:
            "me clock"
            "books photos"
            "contact .";
        grid-gap: 1.2em;
        margin-left: 2em;
        margin-right: 2em;
        
    }
    header {
        margin-bottom: 0.6em;
        font-size: var(--min-title-size);
    }
    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .contactLogo {
        width: 48px;
        height: 48px;
    }
}
@media screen and (min-width: 620px) and (max-width: 959px){
    main {
        display: grid;
        grid-template: auto / 2fr 2fr 2fr;
        grid-template-areas:
            "me books clock "
            "photos . contact ";
        grid-gap: 1.5em;
        margin-left: 3em;
        margin-right: 3em;
    }
    header {
        margin-bottom: 0.8em;
        font-size: var(--mid-title-size);
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .sectionHeader {
        font-size: var(--mid-sectionHeader-size);
    }
    .contactLogo {
        width: 66px;
        height: 66px;
    }
}
@media screen and (min-width: 960px){
    main {
        display: grid;
        grid-template: auto / 1fr 1fr 1fr;
        grid-template-areas:
            "me books clock" 
            "photos contact .  "
            ;
            
        grid-gap: 1em;
        margin-left: 3em;
        margin-right: 3em;
        
    }
    header {
        margin-bottom: 1em;
        
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .sectionHeader {
        font-size: var(--max-sectionHeader-size);
    }
    .contactLogo {
        width: 100px;
        height: 100px;
    }
}